### This notebook is for showing how to read in spatial data files.

Libraries

In [1]:
# Importing the pandas and geopandas packages so that data and spatial data can be handled
import pandas as pd
import geopandas as gpd

C:\Users\dante\AppData\Local\Temp\ipykernel_37536\4052833461.py:2: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

Reading in a GeoJson file and displaying its table

In [2]:
# Reading in the Former Municipality Boundaries Data geojson file
fmbd = gpd.read_file('data/Former Municipality Boundaries Data.geojson')
fmbd

,_id,AREA_ID,DATE_EFFECTIVE,AREA_ATTR_ID,PARENT_AREA_ID,AREA_SHORT_CODE,AREA_LONG_CODE,AREA_NAME,AREA_DESC,OBJECTID,geometry
0,1,49884.0,,49884.0,49886.0,14,14,YORK,YORK,11093905,"MULTIPOLYGON (((-79.49262 43.64744, -79.49249 ..."
1,2,643704.0,,643704.0,49886.0,08,08,NORTH YORK,NORTH YORK,11678465,"MULTIPOLYGON (((-79.53584 43.70812, -79.53591 ..."
2,3,49887.0,,49887.0,49886.0,06,06,EAST YORK,EAST YORK,12266929,"MULTIPOLYGON (((-79.28776 43.68978, -79.28909 ..."
3,4,435733.0,,435733.0,49886.0,01,01,SCARBOROUGH,SCARBOROUGH,12852625,"MULTIPOLYGON (((-79.28776 43.68978, -79.28792 ..."
4,5,1094349.0,,1094349.0,49886.0,19,19,ETOBICOKE,ETOBICOKE,14035025,"MULTIPOLYGON (((-79.48165 43.61872, -79.48180 ..."
5,6,760645.0,,760645.0,49886.0,04,04,TORONTO,TORONTO,14035041,"MULTIPOLYGON (((-79.39652 43.62232, -79.39685 ..."

Next will be displaying the neighbourhood name field alone using different types of code.

In [3]:
# Displaying the neighbourhood name column with a basic print function
print(fmbd['AREA_NAME'])

0           YORK
1     NORTH YORK
2      EAST YORK
3    SCARBOROUGH
4      ETOBICOKE
5        TORONTO
Name: AREA_NAME, dtype: object

In [4]:
# Displaying the neighbourhood name column with the field name on top of the output column and taking out object type
print(fmbd[['AREA_NAME']])

     AREA_NAME
0         YORK
1   NORTH YORK
2    EAST YORK
3  SCARBOROUGH
4    ETOBICOKE
5      TORONTO

In [5]:
# Using the head function to disply the neighbourhood name column
names = fmbd["AREA_NAME"]
names.head()

0           YORK
1     NORTH YORK
2      EAST YORK
3    SCARBOROUGH
4      ETOBICOKE
Name: AREA_NAME, dtype: object