# Writing spatial data files

* Dante Christopher-Alphonso <dantealphonso@gmail.com>

## Libraries

In [2]:
# Importing the pandas and geopandas packages so that data and spatial data can be handled
import pandas as pd
import geopandas as gpd

C:\Users\dante\AppData\Local\Temp\ipykernel_89908\2412219844.py:2: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

## Data

In [3]:
# Reading in the Former Municipality Boundaries Data GeoJson file
fmbd = gpd.read_file('data/Former Municipality Boundaries Data.geojson')

# Reading in the Community Shelters shapefile
shelters = gpd.read_file("data/Shelter/shelters_wgs84.shp")

# Reading in the Waste Transfer Station shapefile
waste = gpd.read_file("data/Waste/SW_transfer_station_wgs84.shp")

# Reading in the City Wards Data GeoJson file
cwd = gpd.read_file("data/City Wards Data.geojson")

## GeoJson file to a shapefile

In [4]:
# This block of code writes the Former Municipality Boundaries Data geojson file into a shapefile
fmbd.to_file("data/fmbd/fmbd.shp")

C:\Users\dante\AppData\Local\Temp\ipykernel_89908\967226255.py:2: UserWarning: Column names longer than 10 characters will be truncated when saved to ESRI Shapefile.
  fmbd.to_file("data/fmbd/fmbd.shp")

## Shapefiles into GeoJson files

### Shelters shp to geojson

In [5]:
# This block of code writes the shelters shapefile into a geojson file
shelters.to_file("data/shelters.geojson", driver='GeoJSON')

### Waste shp to geojson

In [6]:
# This block of code writes the waste locations shapefile into a geojson file
waste.to_file("data/waste.geojson", driver='GeoJSON')

## GeoJson into a csv file

In [7]:
# This block of code writes the City Wards Data geojson file into a csv file
cwd.to_csv("data/cwd.csv")

# The next two lines reads the new csv file and displays its tabular data
cwd = pd.read_csv("data/cwd.csv")
cwd.head()

,Unnamed: 0,_id,AREA_ID,DATE_EFFECTIVE,DATE_EXPIRY,AREA_ATTR_ID,AREA_TYPE_ID,PARENT_AREA_ID,AREA_TYPE,AREA_CLASS_ID,...,AREA_SHORT_CODE,AREA_LONG_CODE,AREA_NAME,AREA_DESC,FEATURE_CODE,FEATURE_CODE_DESC,TRANS_ID_CREATE,TRANS_ID_EXPIRE,OBJECTID,geometry
0,0,1,2457740.0,NaN,NaN,25993196.0,528.0,0.0,CITW,0.0,...,7,7,Humber River-Black Creek,Humber River-Black Creek (7),0,NaN,279754.0,-1.0,17344785,MULTIPOLYGON (((-79.4910534106931 43.763502152...
1,1,2,2457739.0,NaN,NaN,25993195.0,528.0,0.0,CITW,0.0,...,6,6,York Centre,York Centre (6),0,NaN,279754.0,-1.0,17344801,MULTIPOLYGON (((-79.440433878524 43.7633975096...
2,2,3,2457738.0,NaN,NaN,25993194.0,528.0,0.0,CITW,0.0,...,18,18,Willowdale,Willowdale (18),0,NaN,279754.0,-1.0,17344817,MULTIPOLYGON (((-79.3944915063695 43.761572764...
3,3,4,2457737.0,NaN,NaN,25993193.0,528.0,0.0,CITW,0.0,...,11,11,University-Rosedale,University-Rosedale (11),0,NaN,279754.0,-1.0,17344833,MULTIPOLYGON (((-79.3900395402556 43.690503924...
4,4,5,2457736.0,NaN,NaN,25993192.0,528.0,0.0,CITW,0.0,...,19,19,Beaches-East York,Beaches-East York (19),0,NaN,279754.0,-1.0,17344849,MULTIPOLYGON (((-79.2986387013495 43.715147863...